#body{
	text-align: center;
	background-color: #062345;
	
}
p{
    color: #168e42;
	text-align: center;     
	font-style: italic;
	font-size: 25px;
}

h1{
    color:#4682B4;
	font-size: 50px;
	font-style: italic;
	
	

}
#snake{
	font-size:70px;
	color: green;
	border-width:10px;
	border-color:black;
	background-color: #7ccba1;
	border-radius: 90% 90% 80% 30% / 40% 60% 20% 70%;
}

#histoire{
	font-size: 35px;
	color: #0c6b38;
}
#Shahed{
	text-align: center;
	color: pink;
}